.clock{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    align-content: center;
    padding: 160px 0;
}

:is(.clock) h1,h3{
    font-family: "Century Gothic", sans-serif;
}

.clock h3{
    font-size: 2rem;
}

.clock h1{
    font-size: 10em;
}

.clock p{
    font-size: 1em;
}

@media (width<=375px) {
    .clock h1{
        font-size: 5em;
    }
}